.header {
  text-align: center;
}
.heading {
  margin-top: 1%;
}
.add-btn {
  float: right;
  margin-right: 1%;
  margin-left: 1%;
}
.edit {
  float: right;
  margin-top: 5%;
}
.delete {
  float: right;
  margin-top: 5%;
}
.example-list-wrapping {
  max-width: 70%;
  margin: 1%;
}
