h1 {
  text-align: center;
  margin-top: 1%;
}

.add-btn {
  float: right;
  margin-right: 3%;
  margin-top: -3%;
}

.edit {
  float: right;
}

.delete {
  float: right;
}

.card {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

.data {
  margin-top: 10px;
}

pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}