<mat-nav-list>
  <mat-list role="list">
    <mat-list-item role="listitem" [routerLinkActive]="['active']" routerLink="/home">
      <a>Home</a>
    </mat-list-item>
    <mat-list-item role="listitem" [routerLinkActive]="['active']" routerLink="/favourite">
      <a>Favorite</a>
    </mat-list-item>
    <mat-list-item role="listitem" [routerLinkActive]="['active']" routerLink="/cart">
      <a>Cart</a>
    </mat-list-item>
    <mat-list-item role="listitem" [routerLinkActive]="['active']" routerLink="/products">
      <a>Product Management</a>
    </mat-list-item>
  </mat-list>
</mat-nav-list>