.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

.example-app-name {
  padding-top: 11px;
  padding-left: 10px;
}

.favorite {
  float: right;
  margin-left: 68%;
}

.cart {
  float: right;
}