h1 {
  text-align: center;
  margin-top: 5%;
}
.header {
  margin-left: 3%;
}
.example-form {
  margin-left: 7%;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.name {
  width: 100%;
  margin-top: 20px;
  margin-left: 90%;
  margin-right: 80%;
}
.genre {
  width: 100%;
  margin-top: 20px;
  margin-left: 90%;
  margin-right: 80%;
}
.description {
  width: 100%;
  margin-top: 20px;
  margin-left: 90%;
  margin-right: 80%;
}
.author {
  width: 100%;
  margin-top: 20px;
  margin-left: 90%;
  margin-right: 80%;
}
.amount {
  width: 100%;
  margin-top: 20px;
  margin-left: 90%;
  margin-right: 80%;
}
.reset {
  margin-right: 2%;
}
.footer {
  margin-left: 45%;
}
