h1 {
  text-align: center;
  margin-top: 5%;
}

.footer {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-left: 1%;
}


.one-field {
  width: 100%;

}

.reset,
.submit {
  float: right;
  margin-right: 2%;
}