<div class="header">
  <h1>Add Book</h1>
  <button mat-raised-button color="primary" routerLink="/products">
    <mat-icon color="white">arrow_back</mat-icon>Back
  </button>
</div>
<div class="footer">
  <form class="example-form" [formGroup]="AddBookForm" (ngSubmit)="onSubmitClick(AddBookForm.value)">
    <mat-form-field appearance="fill" class="one-field">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Book Name" formControlName="book_name" />
      <mat-error *ngIf="!AddBookForm.get('book_name')?.valid && (AddBookForm.get('book_name')?.['touched'])">Enter the
        Book Name</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="one-field">
      <mat-label>Genre</mat-label>
      <input matInput placeholder="Book Genre" formControlName="book_genre" />
      <mat-error *ngIf="!AddBookForm.get('book_genre')?.valid && (AddBookForm.get('book_genre')?.['touched'])">Enter
        the Genre Name
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="one-field">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Book Description" formControlName="book_description"></textarea>
      <mat-error
        *ngIf="!AddBookForm.get('book_description')?.valid && (AddBookForm.get('book_description')?.['touched'])">Enter
        the Description of the Book
      </mat-error>
    </mat-form-field>

    <input type="file" accept="image/*" (change)="showPreview($event)" />
    <div class="imageUpload">
      <div class="imagepreview" *ngIf="imageURL && imageURL !==''">
        <img class="imagepreview" [src]="imageURL" [alt]="AddBookForm.value.name" style="width:100px;height:200px;">
      </div>
      <div class="imagepreview" *ngIf="!imageURL">
        <img class="imagepreview" [src]=preview [alt]="AddBookForm.value.name" style="width:100px;height:100px;">
      </div>
    </div>
    <mat-form-field appearance="fill" class="one-field">
      <mat-label>Author</mat-label>
      <input matInput placeholder="Book Author" formControlName="book_author" />
      <mat-error *ngIf="!AddBookForm.get('book_author')?.valid && (AddBookForm.get('book_author')?.['touched'])">Enter
        the Author Name
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="one-field">
      <mat-label>Amount</mat-label>
      <input matInput placeholder="Amount" formControlName="book_price" />
      <mat-error *ngIf="!AddBookForm.get('book_price')?.valid && (AddBookForm.get('book_price')?.['touched'])">
        Enter the Price
      </mat-error>
    </mat-form-field>
    <button class="reset" (click)="reset()" mat-raised-button color="grey">
      Reset
    </button>
    <button type="submit" class="submit" mat-raised-button color="primary">
      Submit
    </button>
  </form>